<nav class="bg-primary mb-md-10 d-none d-md-block">
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a href="#" class="nav-link h5 font-weight-normal py-4">CHANEL</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link h5 font-weight-normal py-4">Jo Malone</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link h5 font-weight-normal py-4">Curology</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link h5 font-weight-normal py-4">Dior</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link h5 font-weight-normal py-4">Chloe</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link h5 font-weight-normal py-4">ZARA</a>
            </li>
        </ul>
    </div>
</nav>