<section class="subscribe d-flex align-items-end">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="pb-13">
                    <h2 class="text-secondary font-weight-semibold mb-5">記得<br>訂閱以獲取更多資訊！</h2>
                    <div class="input-group input-custom-group">
                        <input type="email" class="form-control h-auto" placeholder="Your email address" aria-describedby="btnSubscribe">
                        <div class="input-group-append">
                            <button class="btn btn-primary font-weight-medium py-5 px-7" type="button" id="btnSubscribe">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>