.banner{
    height: 870px;
    background-image: url("../images/index1.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.lead{
    font-size: $font-size-base * 1.25;
    @include pad{
        font-size: $font-size-base * 1.5;
    }
}

.btn-shop{
    font-size: $h4-font-size;
    border: 2px solid $white;
    &:hover, &:focus{
        background-color: rgba($white, .2);
        color: $light;
    }
}

.product-chanel-photo{
    @include pad{
        height: 535px;
    }
}

.products-description-photo{
    height: 680px;
    @include pad{
        height: 1080px;
    }
}

.btn-training{
    font-size: $h5-font-size;
    border: 2px solid $dark;
    &:hover, &:focus{
        background-color: rgba($dark, .2);
        color: $dark;
    }
}

.popular-product-photo{
    max-height: 420px;
    @include pad{
        height: 360px;
    }
    @include pc{
        height: 540px;
    }
}

.sold-out{
    position: relative;
    &::before{
        position: absolute;
        content: "Sold out";
        width: 100%;
        height: 100%;
        background-color: $dark;
        opacity: 0.5;
        top: 0px;
        left: 0px;
        color: $white;
        font-size: $h4-font-size;
        font-weight: $font-weight-semibold;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.bottle-recycling-photo{
    height: 520px;
}