.profile-menu{
    margin-bottom: $spacer * 2.5;
    &-link{
        color: $secondary;
        border-bottom: 2px solid transparent;
        font-weight: $font-weight-medium;
        &:hover, &:active, &.active{
            color: $secondary;
            text-decoration: none;
            border-bottom: 2px solid $primary;
        }
    }
    @include pad{
        margin-bottom: 0;
        &-item{
            margin-bottom: $spacer * 1.5;
        }
        &-link{
            font-size: $font-size-base * 0.875;
        }
    }
    @include pc{
        &-link{
            font-size: $font-size-base;
        }
    }
}

.member-detail {
    @include pad{
        position: absolute;
        right: 0;
    }
}