/* 全域 border box */
*, *::before, *::after{
    box-sizing: border-box;
}

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
}

h1, h2, h3, h4, h5, h6 {
    line-height: $line-height-headline;
}

/* img RWD必設 */
img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    max-width: $container-xl;
    margin: 0 auto;
    padding: 0 15px;
    @include pad{
        max-width: $container-md;
        padding: 0 10px;
    }
    @include mobile{
        max-width: $container-sm;
    }
}

h1, .h1{
    font-size: $h1-font-size;
    @include pad{
        font-size: $h1-font-size * 0.75;
    }
    @include mobile{
        font-size: $h1-font-size * 0.5;
    }
}

.page-title{
    font-size: 64px;
    margin-right: 24px;
    @include pad{
        font-size: 48px;
        margin-right: 16px;
    }
    @include mobile{
        font-size: 28px;
        margin-right: 8px;
    }
}

.page-theme-icon{
    width: 58px;
    height: 58px;
    @include pad{
        width: 48px;
        height: 48px;
    }
    @include mobile{
        width: 24px;
        height: 24px;
    }
}

.pages{
    margin-bottom: 156px;
    @include pad{
        margin-bottom: 104px;
    }
    @include mobile{
        margin-bottom: 56px;
    }
}

.page-list{
    display: flex;
    justify-content: center;
    &-item{
        width: 41px;
        height: 48px;
        border: 1px solid #555555;
        a{
            width: 100%;
            height: 100%;
            font-size: 18px;
            color: $color-dark;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover, &:active, &.actived{
                background-color: $color-dark;
                color: $color-light;
            }
        }
        &:nth-child(1), &:nth-last-child(1){
            width: 81px;
            a{
                font-size: 19px;
            }
        }
        &:nth-last-child(1) {
            background-color: #F2F2F2;
        }
    }
    @include mobile{
        &-item{
            width: 27px;
            height: 32px;
            a{
                font-size: 11px;
            }
            &:nth-child(1), &:nth-last-child(1){
                width: 53px;
                a{
                    font-size: 12px;
                }
            }
        }
    }
}