.stores-header{
    height: 304px;
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/qa.png?raw=true");
    background-position: center;
    background-size: cover;
    padding-bottom: 12px;
    margin-bottom: 16px;
    .container{
        height: 100%;
    }
    @include pad{
        padding-bottom: 9.4px;
        margin-bottom: 8px;
        background-position: 35% center;
    }
    @include mobile{
        padding-bottom: 6.4px;
        height: 143px;
        background-position: 32% center;
    }
}

.store-select-section{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    .select-title{
        font-size: 24px;
        margin-right: 22px;
    }
    .store-select{
        font-size: 18px;
        width: 324px;
        padding: 10px 19px;
    }
    @include pad{
        margin-bottom: 24px;
        .select-title{
            font-size: 16px;
            margin-right: 20px;
        }
        .store-select{
            font-size: 16px;
            width: 237px;
            padding: 12px 16px;
        }
    }
    @include mobile{
        margin-bottom: 20px;
        justify-content: space-between;
        .select-title{
            font-size: 14px;
            margin-right: 0;
        }
        .store-select{
            font-size: 14px;
            width: 80%;
            padding: 8px 16px;
        }
    }
}

.store-data-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 304px;
    .card{
        width: 40.09%;
        &-title{
            border: 1px solid lighten($color-dark, 87);
            padding: 12px 24px;
            font-size: 24px;
        }
        &-list{
            padding: 16px 24px 8px;
            border: 1px solid lighten($color-dark, 87);
            &-item{
                display: flex;
                margin-bottom: 8px;
                &-icon{
                    width: 22px;
                    height: 22px;
                    margin-right: 12px;
                }
                &-content{
                    font-size: 19px;
                }
            }
        }
    }
    .store-location{
        width: 57.207%;
    }
    @include pad{
        margin-bottom: 104px;
        flex-direction: column;
        .card{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 32px;
            &-header{
                width: 47.826%;
            }
            &-body{
                width: 47.826%;
            }
            &-title{
                padding: 8px 16px;
                font-size: 16px;
            }
            &-list{
                padding: 16px 16px 8px;
                &-item{
                    &-icon{
                        width: 20px;
                        height: 20px;
                        margin-right: 16px;
                    }
                    &-content{
                        font-size: 14px;
                    }
                }
            }
        }
        .store-location{
            width: 100%;
        }
    }
    @include mobile{
        margin-bottom: 56px;
        .card{
            width: 100%;
            flex-direction: column;
            margin-bottom: 16px;
            &-header{
                width: 100%;
            }
            &-body{
                width: 100%;
            }
        }
    }
}