/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*==================================================*/
*, *:before, *:after {
    box-sizing: border-box;
}

body{
    font-family: Helvetica;
}

.wrap{
    width: 948px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu{
    font-size: 25px;
    font-weight: bold;
}

.menu h2{
    padding: 22px 100px 22px 100px;
    background: #37523d;
    color: white;
    text-align: center;
}

.menu ul li a{
    display: block;
    padding: 20px 73px 20px 73px;
    border: 1px solid #e7eeea;
    color: #37523d;
    text-decoration: none;
}

.menu ul li a:hover{
    background: #e7eeea;
}

.menu-selected-bg{
    background: #e7eeea;
}

.list{
    width: 630px;
    font-size: 22px;
    color: #37523d;
    font-weight: bold;
}

.list ul{
    display: flex;
    flex-wrap: wrap;
}

.list ul li{
    width: 300px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.list ul li img{
    display: block;
}

.item-description{
    display: flex;
}

.productName{
    display: block;
    width: 185px;
    border-left: 1px solid #e7eeea;
    border-right: 1px solid #e7eeea;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.price{
    display: block;
    width: 115px;
    border-right: 1px solid #e7eeea;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.shopping-cart-btn{
    display: block;
    color: #37523d;
    text-decoration: none;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #e7eeea;
    text-align: center;
}

.shopping-cart-btn:hover{
    background: #37523d;
    color: #e7eeea;
}