/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*==================================================*/
*, *:before, *:after {
    box-sizing: border-box;
}

body{
    font-family: Helvetica;
}

.wrap{
    width: 907px;
    margin: 0 auto;
    background: #37523d;
    padding: 15px;
}

.header{
    background: #e7eeea;
    height: 62px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header a{
    color: #37523d;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.header a:hover{
    color: #81be8e;
}

.content{
    background: #ffffff;
    padding: 30px 50px 30px 50px;
    display: flex;
    justify-content: space-between;
}

.content-description{
    padding-left: 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-description h2{
    font-size: 25px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 28px;
}

.content-description p{
    font-size: 16px;
    line-height: 24px;
}

.content-description a{
    color: #37523d;
    font-size: 25px;
    margin-right: 8px;
}

.content-description a:hover{
    background: #acd2fe;
}