/* font */
$font-family-base: Roboto, "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;

/* container */
$container-xl: 1110px;
$container-md: 690px;
$container-sm: 345px;

/* color */
$color-light: #ffffff;
$color-dark: #000000;
$color-primary: #AA0601;
$color-primary-hover: lighten(#AA0601, 50);
$color-primary-dark: #650300;
$color-primary-light: #fbf2f2;
$color-dark-100: #DEE2E6;
$color-dark-500: #707070;
$color-dark-900: #212529;
$color-coffee: #5F3E2D;
$color-coffee-light: #B75929;

/* line height */
$line-height-base: 1.5;
$line-height-headline: $line-height-base * 0.8;

/* font size */
/* PC     14 16 20 24       36 42 48 64 */
/* PAD    14 16 20    28 32       48 */
/* Mobile 14 16 20 24 28 32 */
$font-size-base: 1rem; //16px
$font-size-sm: $font-size-base * 0.875; //14px
$font-size-md: $font-size-base * 1.5; //24px
$font-size-lg: $font-size-base * 2; //32px
$font-size-xl: $font-size-base * 2.25; //36px

$h1-font-size: $font-size-base * 4.5; //72px
$h2-font-size: $font-size-base * 4; //64px
$h3-font-size: $font-size-base * 3; //48px
$h4-font-size: $font-size-base * 1.75; //28px
$h5-font-size: $font-size-base * 1.5; //24px
$h6-font-size: $font-size-base * 1.25; //20px
$h7-font-size: $font-size-base; //16px

$font-size-1: $font-size-base * 0.625; //10px
$font-size-2: $font-size-base * 0.875; //14px
$font-size-3: $font-size-base; //16px
$font-size-4: $font-size-base * 1.25; //20px
$font-size-5: $font-size-base * 1.5; //24px
$font-size-6: $font-size-base * 1.75; //28px
$font-size-7: $font-size-base * 2; //32px
$font-size-8: $font-size-base * 2.25; //36px
$font-size-9: $font-size-base * 2.625; //42px
$font-size-10: $font-size-base * 3; //48px

/* distance */
$distance-base: 8px;

$distance-sm: $distance-base * 0.5;
$distance-1: $distance-base;
$distance-2: $distance-base * 2;
$distance-3: $distance-base * 3;
$distance-4: $distance-base * 4;
$distance-5: $distance-base * 5;
$distance-6: $distance-base * 6;
$distance-7: $distance-base * 7;
$distance-8: $distance-base * 8;
$distance-9: $distance-base * 9;
$distance-10: $distance-base * 10;
$distance-11: $distance-base * 11;