/*Material Icons*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* font family */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* font-weight */
.text-bold{
    font-weight: 700;
}

/* font-size */
.text-extreme-sm{
    font-size: $font-size-extreme-sm;
}

.text-sm{
    font-size: $font-size-sm;
}

.text-regular{
    font-size: $font-size-base;
}


.outline-0{
    outline: none;
}