.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 88px;
}

.logo a{
    width: 80px;
    height: 49px;
    display: block;
    background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true");
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    width: 492px;
    justify-content: space-between;
    align-items: center;
}

.menu li{
    width: 25%;
    text-align: center;
}

.menu li a{
    display: block;
    font-size: 20px;
    padding: 30px 0;
}

.menu li a:hover{
    color: #650300;
}

@media (max-width:992px){
    .navbar{
        padding: 0 39px;
    }

    .menu{
        width: 420px;
    }
}

@media (max-width:767px){
    .navbar{
        padding: 0;
        flex-direction: column;
    }

    .logo{
        margin: 10px auto;
    }

    .logo a{
        width: 48px;
        height: 29px;
        background-size: contain;
    }

    .menu{
        width: 100%;
    }

    .menu li{
        width: 50%;
        border: 1px solid #fff;
    }

    .menu li a{
        padding: 8px 0;
    }

    .menu li a:hover, .menu li a:active{
        background: #650300;
        color: #fff;
    }
}