<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
    <nav class="navbar bg-primary">
        <h1 class="logo"><a href="index.html">XD眼鏡 LOGO</a></h1>
        <ul class="menu">
            <li><a class="text-light" href="series.html">系列鏡框</a></li>
            <li><a class="text-light" href="stores.html">門市據點</a></li>
            <li><a class="text-light" href="blog.html">部落格</a></li>
            <li><a class="text-light" href="faq.html">常見問題</a></li>
        </ul>
    </nav>

    <%- contents %>

    <footer class="footer bg-primary">
        <div class="container">
            <div class="footer-content">
                <div class="footer-main">
                    <ul class="footer-menu">
                        <li><a class="text-light" href="index.html">首頁</a></li>
                        <li><a class="text-light" href="series.html">系列鏡框</a></li>
                        <li><a class="text-light" href="stores.html">門市據點</a></li>
                        <li><a class="text-light" href="blog.html">部落格</a></li>
                        <li><a class="text-light" href="faq.html">常見問題</a></li>
                    </ul>
                    <ul class="footer-contact-list">
                        <li><a class="phone text-light" href="tel:0800-000-000">0800-000-000</a></li>
                        <li><a class="email text-light" href="mailto:glasses@business.com">glasses@business.com</a></li>
                    </ul>
                </div>
                <ul class="social-list">
                    <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-fb.svg" alt="FB"></a></li>
                    <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-ig.svg" alt="Instagram"></a></li>
                    <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-line.svg" alt="Line"></a></li>
                </ul>
            </div>
            <div class="footer-copyright-detail">
                <span class="logo"><a href="index.html">LOGO</a></span>
                <div class="copyright">
                    <p class="text-light">Copyright © 2020 Glasses.All rights reserved.</p>
                    <ul class="policy-terms">
                        <li><a class="text-light" href="#">隱私權政策</a></li>
                        <li><a class="text-light" href="#">服務條款</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="./assets/js/vendors.js"></script>
</body>
</html>