/* header */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 88px;
    @include pad{
        padding: 0 39px;
    }
    @include mobile{
        padding: 0;
        flex-direction: column;
    }
}

.logo{
    a{
        @include link-with-background(80px, 49px, "https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true");
    }
    @include mobile{
        margin: 10px auto;
        a{
            width: 48px;
            height: 29px;
            background-size: contain;
        }
    }
}

.menu{
    display: flex;
    flex-wrap: wrap;
    width: 492px;
    justify-content: space-between;
    align-items: center;
    li{
        width: 25%;
        text-align: center;
        a{
            display: block;
            font-size: 20px;
            padding: 30px 0;
            &:hover{
                color: $color-primary-hover;
            }
        }
    }
    @include pad{
        width: 420px;
        a:active{
            color: $color-primary-hover;
        }
    }
    @include mobile{
        width: 100%;
        li{
            width: 50%;
            border: 1px solid $color-light;
            a{
                padding: 8px 0;
                &:hover, &:active{
                    background: $color-primary-dark;
                    color: $color-light;
                }
            }
        }
    }
}

/* footer */
.footer-content{
    padding: 20px 0 14px;
    border-bottom: 1px solid $color-light;
    display: flex;
    justify-content: space-between;
    a{
        display: block;
    }
    @include pad{
        padding: 24px 0 21px;
    }
    @include mobile{
        padding: 24px 0 17px;
    }
}

.footer-main{
    width: 50%;
    @include pad{
        width: 63.913%;
    }
    @include mobile{
        width: 65%;
    }
}

.footer-menu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    a{
        padding: 16px 16px;
        &:hover, &:active{
            color: $color-primary-hover;
        }
    }
    @include pad{
        margin-bottom: 18px;
        a{
            padding: 16px 12px;
        }
    }
    @include mobile{
        display: none;
    }
}

.footer-contact-list{
    a{
        font-size: 36px;
        padding: 8px 0;
        &:hover, &:active{
            color: $color-primary-hover;
        }
    }
    .phone::before{
        @include left-side-image(44px, 44px, "https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-phone.svg", 17px);
    }
    .email::before{
        @include left-side-image(48px, 48px, "https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-mail.svg", 12px);
    }
    @include pad{
        a{
            font-size: 20px;
            padding: 6px 0;
        }
        .phone::before{
            width: 20px;
            height: 20px;
            margin-right: 15px;
        }
        .email::before{
            width: 28px;
            height: 28px;
            margin-right: 8px;
        }
    }
    @include mobile{
        a{
            font-size: 16px;
            padding: 4px 0;
        }
        .phone::before{
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }
        .email::before{
            width: 20px;
            height: 20px;
            margin-right: 7px;
        }
    }
}

.social-list{
    width: 18.739%;
    display: flex;
    justify-content: space-between;
    a{
        padding: 16px 8px;
    }
    @include pad{
        width: 17.391%;
        img{
            width: 24px;
            height: 24px;
        }
        a{
            padding: 16px 6px;
        }
    }
    @include mobile{
        width: 35%;
        a{
            padding: 8px 4px;
        }
    }
}

.footer-copyright-detail{
    display: flex;
    padding: 24px 0 28.5px;
    .logo{
        margin-right: 38px;
    }
    @include pad{
        padding: 24px 0;
        .logo{
            display: none;
        }
    }
    @include mobile{
        padding: 24px 0 40px;
        flex-direction: row-reverse;
        align-items: flex-end;
        .logo{
            display: block;
            margin: 0;
        }
    }
}

.copyright{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile{
        flex-direction: column;
        align-items: start;
        p{
            font-size: 13.5px;
            margin-bottom: 4px;
        }
    }
}

.policy-terms{
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
        font-size: 14px;
        display: block;
        padding: 16px 16px;
        &:hover, &:active{
            color: $color-primary-hover;
        }
    }
    @include pad{
        width: 30%;
        a{
            padding: 8px 16px;
        }
    }
    @include mobile{
        width: 100%;
        flex-direction: column;
        align-items: start;
        li{
            width: 33%;
        }
        a{
            padding: 4px 0;
        }
    }
}